<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnust.zsg.mapper.TagMapper">
    <select id="getAllTagsById" resultType="TagPO">
        SELECT
            tag.id,
            tag.tagName
        FROM `tag`
        WHERE
            tag.articleId = #{id}

    </select>
    
    <insert id="insertTagsByArticleId">
      insert into tag(articleId,tagName) value (#{article_id},#{tag_name})
    </insert>
</mapper>